/* Clock */
.clocktab {
  width: 15em;
  height: 14em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 12em;
  height: 12em;
  position: absolute;
  border-radius: 50%;
  border: solid;
  border-width: 1px;
  background-color: #756a69;

  border-color: var(--border);
}

.pointer {
  position: absolute; 
  left: 5em;
  top: 0.5em;
  width: 1.5em;
  height: 1.5em;

  border: solid;
  border-width: 0.25em;
  border-color: var(--tabBG);
  border-radius: 50%;
  transition: transform 1s;
  transform-origin: 0.95em 5.5em;

  background-color: var(--accent);
}

.textcontainer {
  position: absolute;
  color: #fff;
}

.time {
  margin: 0;
  font-size: 3.5em;
  font-weight: 400;
  display: block;
}

.min {
  margin: 0;
  font-size: 1.25em;
  text-align: center;
  font-weight: 400;
  display: block;
}

.clockdial {
  left: 1.25em;
  top: 1.25em;

  width: 9em;
  height: 9em;
  position: absolute;
  border-radius: 50%;
  border: solid;
  border-width: 0.25em;
  border-color: var(--tabBG);
}
/* Counter */
#pomodorocontainer {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
}

#progressbar {
  display: block;
  border-radius: 4em;
  width: 100%;
  height: 0.5em;

  background-color: var(--background);
}

#currentprogress {
  position: absolute;
  background-color: #918483; /* #d66868 */
  border-radius: 4em;
  top: 0;
  left: 0;
  height: 0.5em;
  width:0%;
  transition: 1s;
}

/* Buttons */
#playpausecontainer {
  text-align: center;
  font-size:0;
  margin: 0.3rem 0.25rem 0.7rem 0.25rem;
}

.alarmbutton {
  border-radius: 2em;
  width: 90%;
}

.alarmbutton,
.alarmbuttonactive,
.stopbutton {
  background-color: var(--accent);
  color: #fff;
  fill: #fff;

  padding-top: 0.25em;
  padding-bottom: 0.25em;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: var(--accent);
}
/*
.greenalarm {
  background-color: #66be68;
  border-color: #66be68;
}

.bluealarm {
  background-color: #689dd6;
  border-color: #689dd6;
}
*/
.alarmbuttonactive {
  border-radius: 2em 0 0 2em;
  display: inline;
  width: 65%;
  padding-left: 1em;
}

.stopbutton {
  display: none;
}

.stopbuttonactive {
  border-radius: 0 2em 2em 0;
  display: inline;
  width: 25%;
  padding-right: 1em;
}

.alarmbutton:hover,
.alarmbuttonactive:hover,
.stopbuttonactive:hover {
  color: var(--fontText);
  fill: var(--fontText);
  background-color: transparent;
  
  border-style: solid;
  border-color: var(--border);
}

.alarmbuttonactive:hover {
  border-right-color: transparent;
}

.stopbuttonactive:hover {
  border-left-color: transparent;
}

.alarmbutton:active,
.alarmbuttonactive:active,
.stopbuttonactive:active  {
  background-color: var(--accent);
  color: #fff;
  fill: #fff;
  border-color: var(--accent);
}