@import "./clock.css";
@import "./settings.css";
@import "./tools.css";

/* Body  */
body {
  font-family: Nunito, Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Tab container */
#tabcontainer {
  display: flex;
  flex-direction: row-reverse;
}

/* Tabs */
.tab {
  background-color:#fff;
  margin: 0.5rem;
  border-radius: 0.7rem;
  border: solid;
  border-width: 1px;
}

.tabhead {
  border-bottom: dashed;
  border-width: 1px;
  
  padding: 0.25rem;
}

.tabtitle {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0.75rem;
}

.togglecontainer {
  display: none;
  border-right: dashed;
  border-width: 1px;
}

.toggletab {
  display: none;
  width: 12rem;
  flex-direction: column;
}

/* Version */
.vergrid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0.5rem;
  margin-top: auto;
}

.subtext {
  text-align: left;
  font-size: 1.1em;
  margin: 0em 0.5em 0em 0.5em;
  color: #777574;
}

.version {
  text-align: right;
}

a.githublink,
a.githublink:visited {
  color: #777574;
}

/* SVG */
.svgicon {
  width: 1rem;
  height: 1rem;
}

.svgbutton {
  width: 1.2rem;
  height: 1.2rem;
}

/* Colours */
.lightaccent {
  background-color: #e2dbd7;
}

.lightfont {
  color: #5b5a59;
  fill: #5b5a59;
}

.lightborder {
  border-color: #777574;
}

.red {
  background-color: #d66868;
}

.green {
  background-color: #66be68;
}

.blue {
  background-color: #689dd6;
}

/* Dark theme */
.darktab {
  background-color:#454545;
}

.darkfont {
  color: #fff;
  fill: #fff;
}

.darkfont:hover {
  color: #fff;
  fill: #fff;
}

.darkaccent {
  background-color: #2b2827;
}

.darkaccent:active {
  background-color: #2b2827;
}

.darkborder {
  border-color: #99928f;
}

.darksubtext {
  color: #99928f;
}

.darklink,
.darklink:active,
.darklink:visited {
  color: #99928f;
}

/* Animated */
.animatedbackground {
  transition: background-color 0.25s;
}