/* Settings */
.settingsactive {
  display: block;
}

#inputmenu {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0.5rem;
}

#togglemenu {
  margin: 0.5rem;
}

.lengthsetting {
  display: block;
  margin: 0.25em;
}

.inputdiv {
  position: relative;
  display: grid;
}

.inputicon {
  position: absolute;
  border-radius: 50% 0 0 50%;
  height: 1.2em;
  width: 1.2em;
  background-color: #918483; /* #a3a3a3 */

  top: 0;
  bottom: 0;
  margin: auto 0.28em;
}

.menutext {
  font-size: 1.1em;
  display: block;
  text-align: center;
  margin: 0em;

  color: var(--fontText);
  fill: var(--fontText);
}

.menuinput {
  justify-self: center;
  text-align: center;
  font-size: 1.1em;
  width: 90%;

  border-radius: 2em;
  border: solid;
  border-width: 1px;

  color: var(--fontText);
  fill: var(--fontText);
  background-color: var(--background);
  border-color: var(--border);
}

.menuinput:focus {
  background-color: transparent;
  outline:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

#helppopup {
  margin: 0.5rem;
  position: absolute;
  top: 0;
  width: auto;
  border-radius: 0.7rem;
  
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  
  display: grid;
  grid-template-columns: auto auto;
}

#helppopup span {
  margin: 0.5rem;
  text-align: left;
}

#helppopup button {
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 0.7rem;
  
  cursor: pointer;
  text-align: right;
  font-size: 1.2em;
}

/* Switch */
.divider {
  margin: 0.75rem 0.5rem 0.5rem;
}

.switchtext {
  font-size: 1.1em;
  display: inline-block;
  text-align: left;
  margin: 0em;
  cursor: default;

  color: var(--fontText);
  fill: var(--fontText);
}

.switch {
  position: relative;
  float: right;
  width: 2.9em;
  height: 1.5em;
  
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border: solid;
  border-width: 1px;
  border-radius: 1.2em;

  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 
  background-color: var(--background);
  border-color: var(--border);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.3em;
  width: 1.3em;
  left: 0.1em;
  bottom: 0em;
  background-color: #918483;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.3em);
  -ms-transform: translateX(1.3em);
  transform: translateX(1.3em);
}

input:checked + .slider {
  background-color: rgba(0,0,0,0);
}

.mika {
  flex: 1;
  overflow: hidden;
}

.balls {
  display:block;
  height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
}