/* Dropdown menu */
.setting {
  display: block;
  margin: 0.25em;
}

#settingsmenu {
  color: #514d4d;
  display: grid;
  grid-template-columns: auto auto;
  margin: 0.5rem;
}

.menutext {
  font-size: 1.1em;
  text-align: center;
  margin: 0em;
  cursor: help;
}

.menuinput {
  color: #514d4d;
  background-color: #e2dbd7;
  text-align: center;
  font-size: 1.1em;
  width: 90%;

  border-radius: 2em;
  border: solid;
  border-color: #777574;
  border-width: 1px;
  transition: 0.25s;
}

.menuinput:disabled {
  color: #8d8787;
  background-color: #454141;
}

.menuinput:focus {
  background-color: #fff;
  outline:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.helppopup {
  color: #8d8787;
  display: grid;
  grid-template-columns: auto auto;
}

.helppopup p {
  margin: 0em 0.5em 0em 0.5em;
  text-align: left;
}

.helppopup button {
  background-color: #d66868;
  color: #fff;
  border: none;
  
  cursor: pointer;
  text-align: right;
  font-size: 1.2em;
}

.helppopup button:hover {
  background-color: #e87f7f;
}

.dropdownbutton {
  background-color: #393636;
  color: #8d8787;
  border: none;
  
  width: 100%;
  padding: 0.25em;
  cursor: pointer;
  text-align: right;
}

.dropdownbutton:hover {
  background-color: #514d4d;
}

button:focus {
  outline:none;
}