/* Settings */
.settingsactive {
  display: block;
}

#settingsmenu {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0.5rem;
}

.lengthsetting {
  display: block;
  margin: 0.25em;
}

.inputdiv {
  position: relative;
  display: grid;
}

.inputicon {
  position: absolute;
  border-radius: 50% 0 0 50%;
  height: 1.2em;
  width: 1.2em;
  background-color: #a3a3a3;

  top: 0;
  bottom: 0;
  margin: auto 0.35em;
}

.menutext {
  font-size: 1.1em;
  display: block;
  text-align: center;
  margin: 0em;
  cursor: help;
}

.menuinput {
  justify-self: center;
  text-align: center;
  font-size: 1.1em;
  width: 90%;

  border-radius: 2em;
  border: solid;
  border-width: 1px;
}

.menuinput:focus {
  background-color: transparent;
  outline:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.helppopup {
  color: #8d8787;
  display: grid;
  grid-template-columns: auto auto;
}

.helppopup p {
  margin: 0em 0.5em 0em 0.5em;
  text-align: left;
}

.helppopup button {
  background-color: #d66868;
  color: #fff;
  border: none;
  
  cursor: pointer;
  text-align: right;
  font-size: 1.2em;
}

.helppopup button:hover {
  background-color: #e87f7f;
}