:root {
    font-size: 16px;
    
    /* Background */
    --background: #e2dbd7;
    --tabBG: #fff;
    --border: #777574;

    /* Fonts */
    --fontText: #302f2e;
    --fontSubtext: #777574;

    /* Accent */
    --accent: #d66868;
}