#tools {
  margin: 0.5rem;
  text-align: center;
}

.toolicon,
.darktoolicon {
  display: inline;
  font-weight: 700;
  border-radius: 0.5rem;
  margin-bottom: 0.25em;
  height: 2.3rem;
  width: 2.3rem;
  font-size: 1.2em;
  font-weight: 600;

  border: none;
  cursor: pointer;
}

.toolicon {
  background-color: var(--background);
  color: var(--fontText);
  fill: var(--fontText);
}

.darktoolicon {
  background-color: #756a69;
  color: #fff;
  fill: #fff;
}

.iconspan {
  margin: auto;
}

.toolicon:hover,
.darktoolicon:hover,
.activeicon {
  background-color: transparent;
  color: var(--fontText);
  fill: var(--fontText);

  border: solid;
  border-color: var(--border);
  border-width: 1px;
}