#tools {
  margin: 0.5rem;
  text-align: center;
}

.toolicon,
.darkicon {
  display: inline;
  font-weight: 700;
  border-radius: 0.5rem;
  margin-bottom: 0.25em;
  height: 2.3rem;
  width: 2.3rem;
  font-size: 1.2em;
  font-weight: 600;
  background-color: #e2dbd7;

  border: none;
  color: #5b5a59;
  cursor: pointer;
}

.toolicon:hover {
  background-color: #cac4c0;
}

.toolicon:active {
  background-color: #e2dbd7;
}

.darkicon {
  background-color: #756a69;

  color: #fff;
}

.darkicon:hover {
  background-color: #564e4e;
}

.darkicon:active {
  background-color: #756a69;
}